<h1 style="text-align:center; color: darkred;">LINKEDIN CRAWLING</h1>
<h3 style="text-align:center;">Created by : Faridl Gifari Kertabudi (fargif991@gmail.com)</h3>
<hr style="border: 1px solid black;">

In [1]:
from datetime import datetime
import re
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
import pandas as pd
import numpy as np
import time
from datetime import datetime
import dateparser
from urllib.parse import urlparse, parse_qs

In [2]:
today = datetime.today()
today_string = today.strftime('%Y-%m-%d')

In [3]:
chromedriver_path = "E:/Chromedriver/chromedriver-win64/chromedriver.exe"

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument("--user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36")
chrome_options.add_argument("--disable-blink-features=AutomationControlled")

service = Service(chromedriver_path)
driver = webdriver.Chrome(service=service, options=chrome_options)

In [4]:
web_link = "https://www.linkedin.com/jobs/search?location=Indonesia&keywords=data%20analyst"

# Navigate to the webpage containing the element
driver.get(web_link)

# Refresh the webpage
driver.refresh()

# Wait for a few seconds to see the effect
time.sleep(2)

driver.maximize_window()

In [5]:
def jobid_getter(url):
    # Parse the URL
    parsed_url = urlparse(url)

    # Extract the query parameters
    query_params = parse_qs(parsed_url.query)

    # Get the currentJobId
    current_job_id = query_params.get('currentJobId', [None])[0]
    return current_job_id

In [6]:
list_jobs_box = driver.find_element(By.XPATH, "//ul[@class='jobs-search__results-list']")

auto_scroll = True
unchanged_count = 0
unchanged_count_by_button = 0
is_button_pressed = False

while auto_scroll:
    scroll_distance = 250
    driver.execute_script(f"window.scrollBy(0, {scroll_distance});")

    try:
        button = driver.find_elements(By.XPATH, "//button[contains(text(), 'See more jobs')]")
        button[0].click()
        print('click button bro')
        is_button_pressed = True
        time.sleep(2)
    except:
        print(f'lanjut scroll dulu : {unchanged_count+1}/100')
        is_button_pressed = False
    
    list_jobs_box = driver.find_element(By.XPATH, "//ul[@class='jobs-search__results-list']")
    
    if is_button_pressed :
        try:
            if job_list_pra:
                job_list_pra = job_list_post.copy()
        except:
            job_list_pra = list_jobs_box.find_elements(By.XPATH, ".//li")

    #     get current merchant list
        job_list_post = list_jobs_box.find_elements(By.XPATH, ".//li")

    #     iteration to breakout the loop
        if len(job_list_post) == len(job_list_pra):
            unchanged_count_by_button += 1  # Increment the counter if A hasn't changed
#             print(f'total unchanged by button : {unchanged_count_by_button}')
            if unchanged_count_by_button == 10:
                time.sleep(2)
        
        else:
            unchanged_count_by_button = 0  # Reset the counter if A has changed
            del job_list_pra

        if unchanged_count_by_button == 20:
            auto_scroll = False
            print("unchanged count by button until 20")
            break  # Exit the loop if A hasn't changed for 20 iterations
    
    if is_button_pressed == False :
        try:
            if job_list_pra:
                job_list_pra = job_list_post.copy()
        except:
            job_list_pra = list_jobs_box.find_elements(By.XPATH, ".//li")

    #     get current merchant list
        job_list_post = list_jobs_box.find_elements(By.XPATH, ".//li")

    #     iteration to breakout the loop
        if len(job_list_post) == len(job_list_pra):
            unchanged_count += 1  # Increment the counter if A hasn't changed
            
            if unchanged_count == 50:
                time.sleep(2)
#             print(f'total unchanged by scroll : {unchanged_count}')
        else:
            unchanged_count = 0  # Reset the counter if A has changed
            del job_list_pra

        if unchanged_count == 100:
            auto_scroll = False
            print("unchanged count by scroll until 100")
            break  # Exit the loop if A hasn't changed for 100 iterations
        
print(len(job_list_post))

lanjut scroll dulu : 1/100
lanjut scroll dulu : 2/100
lanjut scroll dulu : 3/100
lanjut scroll dulu : 4/100
lanjut scroll dulu : 5/100
lanjut scroll dulu : 6/100
lanjut scroll dulu : 7/100
lanjut scroll dulu : 8/100
lanjut scroll dulu : 9/100
lanjut scroll dulu : 10/100
lanjut scroll dulu : 11/100
lanjut scroll dulu : 12/100
lanjut scroll dulu : 13/100
lanjut scroll dulu : 14/100
lanjut scroll dulu : 15/100
lanjut scroll dulu : 16/100
lanjut scroll dulu : 17/100
lanjut scroll dulu : 18/100
lanjut scroll dulu : 19/100
lanjut scroll dulu : 20/100
lanjut scroll dulu : 21/100
lanjut scroll dulu : 22/100
lanjut scroll dulu : 23/100
lanjut scroll dulu : 24/100
lanjut scroll dulu : 25/100
lanjut scroll dulu : 26/100
lanjut scroll dulu : 27/100
lanjut scroll dulu : 28/100
lanjut scroll dulu : 29/100
lanjut scroll dulu : 30/100
lanjut scroll dulu : 31/100
lanjut scroll dulu : 32/100
lanjut scroll dulu : 33/100
lanjut scroll dulu : 34/100
lanjut scroll dulu : 35/100
lanjut scroll dulu : 36/100
lanjut scroll dulu : 37/100
lanjut scroll dulu : 38/100
lanjut scroll dulu : 39/100
lanjut scroll dulu : 40/100
lanjut scroll dulu : 41/100
lanjut scroll dulu : 42/100
lanjut scroll dulu : 43/100
lanjut scroll dulu : 44/100
lanjut scroll dulu : 45/100
lanjut scroll dulu : 46/100
lanjut scroll dulu : 47/100
lanjut scroll dulu : 48/100
lanjut scroll dulu : 49/100
lanjut scroll dulu : 50/100
lanjut scroll dulu : 51/100
lanjut scroll dulu : 1/100
lanjut scroll dulu : 2/100
lanjut scroll dulu : 3/100
lanjut scroll dulu : 4/100
lanjut scroll dulu : 5/100
lanjut scroll dulu : 6/100
lanjut scroll dulu : 7/100
lanjut scroll dulu : 8/100
lanjut scroll dulu : 9/100
lanjut scroll dulu : 10/100
lanjut scroll dulu : 11/100
lanjut scroll dulu : 12/100
lanjut scroll dulu : 13/100
lanjut scroll dulu : 14/100
lanjut scroll dulu : 15/100
lanjut scroll dulu : 16/100
lanjut scroll dulu : 17/100
lanjut scroll dulu : 18/100
lanjut scroll dulu : 1/100
lanjut scroll dulu : 2/100
lanjut scroll dulu : 3/100
lanjut scroll dulu : 4/100
lanjut scroll dulu : 5/100
lanjut scroll dulu : 6/100
lanjut scroll dulu : 7/100
lanjut scroll dulu : 8/100
lanjut scroll dulu : 9/100
lanjut scroll dulu : 10/100
lanjut scroll dulu : 11/100
lanjut scroll dulu : 12/100
lanjut scroll dulu : 13/100
lanjut scroll dulu : 14/100
lanjut scroll dulu : 15/100
lanjut scroll dulu : 16/100
lanjut scroll dulu : 17/100
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
click button bro
unchanged count by button until 20
450

In [7]:
job_db = pd.DataFrame(columns=[
    'company'
    , 'role'
    , 'location'
    , 'post_duration'
    , 'total_application'
    , 'job_description'
    , 'level'
    , 'employment_status'
    , 'job_function'
    , 'industries'
    , 'url'
    , 'job_id'
])

In [8]:
for i_job, det_job in enumerate(job_list_post[:]):
    
    trial = 0
    sec = 0.5
    move_back = 1
    while trial<20:
        try:
            det_job.click()
            time.sleep(sec)
            job_detail_box = driver.find_elements(By.XPATH, ".//div[@class='details-pane__content details-pane__content--show']")[0]
            trial = 0
            move_back = 1
            break

        except:
            trial+=1
            sec += 0.35
            job_list_post[i_job-move_back].click()
            move_back+=1
            time.sleep(sec/2)
    
#     print('successfully break')
    job_url = driver.current_url
    job_id = jobid_getter(job_url)
    job_detail_box = driver.find_elements(By.XPATH, ".//div[@class='details-pane__content details-pane__content--show']")[0]
    job_role = job_detail_box.find_elements(By.XPATH, ".//h2[@class='top-card-layout__title font-sans text-lg papabear:text-xl font-bold leading-open text-color-text mb-0 topcard__title']")[0].text
    
    wadah_org_name = job_detail_box.find_elements(By.XPATH, ".//div[@class='topcard__flavor-row']")[0]
    job_company = wadah_org_name.find_elements(By.XPATH, ".//*[contains(@class, 'topcard__flavor')]")[0].text
    job_location = wadah_org_name.find_elements(By.XPATH, ".//*[contains(@class, 'topcard__flavor topcard__flavor--bullet')]")[0].text
    
    job_post_duration = job_detail_box.find_elements(By.XPATH, "//*[contains(@class, 'posted-time-ago__text')]")[0].text
    job_total_application = job_detail_box.find_elements(By.XPATH, "//*[contains(@class, 'num-applicants__caption')]")[0].text

    try:
        button_desc = job_detail_box.find_elements(By.XPATH, ".//button[@data-tracking-control-name='public_jobs_show-more-html-btn']")[0]
        button_desc.click()
        job_desc_box = driver.find_elements(By.XPATH, ".//div[@class='show-more-less-html__markup relative overflow-hidden']")[0]
        job_description = job_desc_box.text
    except:
        job_description = np.nan
        pass

    wadah_add = job_detail_box.find_elements(By.XPATH, "//ul[@class='description__job-criteria-list']")[0]
    li_level = wadah_add.find_elements(By.XPATH, ".//li[.//h3[contains(text(), 'Senior')]]")[0]
    job_level = li_level.find_elements(By.XPATH, ".//span")[0].text

    try:
        li_employment_type = wadah_add.find_elements(By.XPATH, ".//li[.//h3[contains(text(), 'Employment')]]")[0]
        job_employment_type = li_employment_type.find_elements(By.XPATH, ".//span")[0].text
    except:
        job_employment_type = np.nan

    try:
        li_job_function = wadah_add.find_elements(By.XPATH, ".//li[.//h3[contains(text(), 'function')]]")[0]
        job_function = li_job_function.find_elements(By.XPATH, ".//span")[0].text
    except:
        job_function = np.nan

    try:
        li_industries = wadah_add.find_elements(By.XPATH, ".//li[.//h3[contains(text(), 'Indus')]]")[0]
        job_industries = li_industries.find_elements(By.XPATH, ".//span")[0].text
    except:
        job_industries = np.nan

    job_db.loc[i_job, 'company'] = job_company
    job_db.loc[i_job, 'role'] = job_role
    job_db.loc[i_job, 'location'] = job_location
    job_db.loc[i_job, 'post_duration'] = job_post_duration
    job_db.loc[i_job, 'total_application'] = job_total_application
    job_db.loc[i_job, 'level'] = job_level
    job_db.loc[i_job, 'employment_status'] = job_employment_type
    job_db.loc[i_job, 'job_function'] = job_function
    job_db.loc[i_job, 'industries'] = job_industries
    job_db.loc[i_job, 'job_description'] = job_description
    job_db.loc[i_job, 'url'] = job_url
    job_db.loc[i_job, 'job_id'] = job_id
    
    print(f'Job ke {i_job+1}/{len(job_list_post)}')

Job ke 1/450
Job ke 2/450
Job ke 3/450
Job ke 4/450
Job ke 5/450
Job ke 6/450
Job ke 7/450
Job ke 8/450
Job ke 9/450
Job ke 10/450
Job ke 11/450
Job ke 12/450
Job ke 13/450
Job ke 14/450
Job ke 15/450
Job ke 16/450
Job ke 17/450
Job ke 18/450
Job ke 19/450
Job ke 20/450
Job ke 21/450
Job ke 22/450
Job ke 23/450
Job ke 24/450
Job ke 25/450
Job ke 26/450
Job ke 27/450
Job ke 28/450
Job ke 29/450
Job ke 30/450
Job ke 31/450
Job ke 32/450
Job ke 33/450
Job ke 34/450
Job ke 35/450
Job ke 36/450
Job ke 37/450
Job ke 38/450
Job ke 39/450
Job ke 40/450
Job ke 41/450
Job ke 42/450
Job ke 43/450
Job ke 44/450
Job ke 45/450
Job ke 46/450
Job ke 47/450
Job ke 48/450
Job ke 49/450
Job ke 50/450
Job ke 51/450
Job ke 52/450
Job ke 53/450
Job ke 54/450
Job ke 55/450
Job ke 56/450
Job ke 57/450
Job ke 58/450
Job ke 59/450
Job ke 60/450
Job ke 61/450
Job ke 62/450
Job ke 63/450
Job ke 64/450
Job ke 65/450
Job ke 66/450
Job ke 67/450
Job ke 68/450
Job ke 69/450
Job ke 70/450
Job ke 71/450
Job ke 72/450
Job ke 73/450
Job ke 74/450
Job ke 75/450
Job ke 76/450
Job ke 77/450
Job ke 78/450
Job ke 79/450
Job ke 80/450
Job ke 81/450
Job ke 82/450
Job ke 83/450
Job ke 84/450
Job ke 85/450
Job ke 86/450
Job ke 87/450
Job ke 88/450
Job ke 89/450
Job ke 90/450
Job ke 91/450
Job ke 92/450
Job ke 93/450
Job ke 94/450
Job ke 95/450
Job ke 96/450
Job ke 97/450
Job ke 98/450
Job ke 99/450
Job ke 100/450
Job ke 101/450
Job ke 102/450
Job ke 103/450
Job ke 104/450
Job ke 105/450
Job ke 106/450
Job ke 107/450
Job ke 108/450
Job ke 109/450
Job ke 110/450
Job ke 111/450
Job ke 112/450
Job ke 113/450
Job ke 114/450
Job ke 115/450
Job ke 116/450
Job ke 117/450
Job ke 118/450
Job ke 119/450
Job ke 120/450
Job ke 121/450
Job ke 122/450
Job ke 123/450
Job ke 124/450
Job ke 125/450
Job ke 126/450
Job ke 127/450
Job ke 128/450
Job ke 129/450
Job ke 130/450
Job ke 131/450
Job ke 132/450
Job ke 133/450
Job ke 134/450
Job ke 135/450
Job ke 136/450
Job ke 137/450
Job ke 138/450
Job ke 139/450
Job ke 140/450
Job ke 141/450
Job ke 142/450
Job ke 143/450
Job ke 144/450
Job ke 145/450
Job ke 146/450
Job ke 147/450
Job ke 148/450
Job ke 149/450
Job ke 150/450
Job ke 151/450
Job ke 152/450
Job ke 153/450
Job ke 154/450
Job ke 155/450
Job ke 156/450
Job ke 157/450
Job ke 158/450
Job ke 159/450
Job ke 160/450
Job ke 161/450
Job ke 162/450
Job ke 163/450
Job ke 164/450
Job ke 165/450
Job ke 166/450
Job ke 167/450
Job ke 168/450
Job ke 169/450
Job ke 170/450
Job ke 171/450
Job ke 172/450
Job ke 173/450
Job ke 174/450
Job ke 175/450
Job ke 176/450
Job ke 177/450
Job ke 178/450
Job ke 179/450
Job ke 180/450
Job ke 181/450
Job ke 182/450
Job ke 183/450
Job ke 184/450
Job ke 185/450
Job ke 186/450
Job ke 187/450
Job ke 188/450
Job ke 189/450
Job ke 190/450
Job ke 191/450
Job ke 192/450
Job ke 193/450
Job ke 194/450
Job ke 195/450
Job ke 196/450
Job ke 197/450
Job ke 198/450
Job ke 199/450
Job ke 200/450
Job ke 201/450
Job ke 202/450
Job ke 203/450
Job ke 204/450
Job ke 205/450
Job ke 206/450
Job ke 207/450
Job ke 208/450
Job ke 209/450
Job ke 210/450
Job ke 211/450
Job ke 212/450
Job ke 213/450
Job ke 214/450
Job ke 215/450
Job ke 216/450
Job ke 217/450
Job ke 218/450
Job ke 219/450
Job ke 220/450
Job ke 221/450
Job ke 222/450
Job ke 223/450
Job ke 224/450
Job ke 225/450
Job ke 226/450
Job ke 227/450
Job ke 228/450
Job ke 229/450
Job ke 230/450
Job ke 231/450
Job ke 232/450
Job ke 233/450
Job ke 234/450
Job ke 235/450
Job ke 236/450
Job ke 237/450
Job ke 238/450
Job ke 239/450
Job ke 240/450
Job ke 241/450
Job ke 242/450
Job ke 243/450
Job ke 244/450
Job ke 245/450
Job ke 246/450
Job ke 247/450
Job ke 248/450
Job ke 249/450
Job ke 250/450
Job ke 251/450
Job ke 252/450
Job ke 253/450
Job ke 254/450
Job ke 255/450
Job ke 256/450
Job ke 257/450
Job ke 258/450
Job ke 259/450
Job ke 260/450
Job ke 261/450
Job ke 262/450
Job ke 263/450
Job ke 264/450
Job ke 265/450
Job ke 266/450
Job ke 267/450
Job ke 268/450
Job ke 269/450
Job ke 270/450
Job ke 271/450
Job ke 272/450
Job ke 273/450
Job ke 274/450
Job ke 275/450
Job ke 276/450
Job ke 277/450
Job ke 278/450
Job ke 279/450
Job ke 280/450
Job ke 281/450
Job ke 282/450
Job ke 283/450
Job ke 284/450
Job ke 285/450
Job ke 286/450
Job ke 287/450
Job ke 288/450
Job ke 289/450
Job ke 290/450
Job ke 291/450
Job ke 292/450
Job ke 293/450
Job ke 294/450
Job ke 295/450
Job ke 296/450
Job ke 297/450
Job ke 298/450
Job ke 299/450
Job ke 300/450
Job ke 301/450
Job ke 302/450
Job ke 303/450
Job ke 304/450
Job ke 305/450
Job ke 306/450
Job ke 307/450
Job ke 308/450
Job ke 309/450
Job ke 310/450
Job ke 311/450
Job ke 312/450
Job ke 313/450
Job ke 314/450
Job ke 315/450
Job ke 316/450
Job ke 317/450
Job ke 318/450
Job ke 319/450
Job ke 320/450
Job ke 321/450
Job ke 322/450
Job ke 323/450
Job ke 324/450
Job ke 325/450
Job ke 326/450
Job ke 327/450
Job ke 328/450
Job ke 329/450
Job ke 330/450
Job ke 331/450
Job ke 332/450
Job ke 333/450
Job ke 334/450
Job ke 335/450
Job ke 336/450
Job ke 337/450
Job ke 338/450
Job ke 339/450
Job ke 340/450
Job ke 341/450
Job ke 342/450
Job ke 343/450
Job ke 344/450
Job ke 345/450
Job ke 346/450
Job ke 347/450
Job ke 348/450
Job ke 349/450
Job ke 350/450
Job ke 351/450
Job ke 352/450
Job ke 353/450
Job ke 354/450
Job ke 355/450
Job ke 356/450
Job ke 357/450
Job ke 358/450
Job ke 359/450
Job ke 360/450
Job ke 361/450
Job ke 362/450
Job ke 363/450
Job ke 364/450
Job ke 365/450
Job ke 366/450
Job ke 367/450
Job ke 368/450
Job ke 369/450
Job ke 370/450
Job ke 371/450
Job ke 372/450
Job ke 373/450
Job ke 374/450
Job ke 375/450
Job ke 376/450
Job ke 377/450
Job ke 378/450
Job ke 379/450
Job ke 380/450
Job ke 381/450
Job ke 382/450
Job ke 383/450
Job ke 384/450
Job ke 385/450
Job ke 386/450
Job ke 387/450
Job ke 388/450
Job ke 389/450
Job ke 390/450
Job ke 391/450
Job ke 392/450
Job ke 393/450
Job ke 394/450
Job ke 395/450
Job ke 396/450
Job ke 397/450
Job ke 398/450
Job ke 399/450
Job ke 400/450
Job ke 401/450
Job ke 402/450
Job ke 403/450
Job ke 404/450
Job ke 405/450
Job ke 406/450
Job ke 407/450
Job ke 408/450
Job ke 409/450
Job ke 410/450
Job ke 411/450
Job ke 412/450
Job ke 413/450
Job ke 414/450
Job ke 415/450
Job ke 416/450
Job ke 417/450
Job ke 418/450
Job ke 419/450
Job ke 420/450
Job ke 421/450
Job ke 422/450
Job ke 423/450
Job ke 424/450
Job ke 425/450
Job ke 426/450
Job ke 427/450
Job ke 428/450
Job ke 429/450
Job ke 430/450
Job ke 431/450
Job ke 432/450
Job ke 433/450
Job ke 434/450
Job ke 435/450
Job ke 436/450
Job ke 437/450
Job ke 438/450
Job ke 439/450
Job ke 440/450
Job ke 441/450
Job ke 442/450
Job ke 443/450
Job ke 444/450
Job ke 445/450
Job ke 446/450
Job ke 447/450
Job ke 448/450
Job ke 449/450
Job ke 450/450

In [14]:
job_db

,company,role,location,post_duration,total_application,job_description,level,employment_status,job_function,industries,url,job_id,data_scraped_at
0,Shopee,"Data Analyst, Business Intelligence","Jakarta, Indonesia",2 weeks ago,Be among the first 25 applicants,Job Description\n\nAssist the various business...,Mid-Senior level,Full-time,"Strategy/Planning, Analyst, and Consulting","Internet Marketplace Platforms and Technology,...",https://www.linkedin.com/jobs/search?location=...,3611204797,2024-07-11
1,PT Lion Super Indo,Sustainability Data Analyst,"Jakarta, Indonesia",1 week ago,Over 200 applicants,Job Description\nAs a member of the Strategy a...,Entry level,Full-time,"General Business, Analyst, and Business Develo...",Retail,https://www.linkedin.com/jobs/search?location=...,3963352502,2024-07-11
2,Traveloka,Data Analyst,Jakarta Metropolitan Area,2 weeks ago,Be among the first 25 applicants,It's fun to work in a company where people tru...,Entry level,Full-time,Information Technology,Software Development,https://www.linkedin.com/jobs/search?location=...,3935784810,2024-07-11
3,Traveloka,Data Analyst,Jakarta Metropolitan Area,1 week ago,Be among the first 25 applicants,It's fun to work in a company where people tru...,Entry level,Full-time,Information Technology,Software Development,https://www.linkedin.com/jobs/search?location=...,3932245569,2024-07-11
4,BYD Indonesia,Data Analyst,"Jakarta, Indonesia",9 hours ago,Over 200 applicants,Position Overview:\nWe are looking for a skill...,Mid-Senior level,Full-time,"Analyst, Sales, and Marketing",Motor Vehicle Manufacturing,https://www.linkedin.com/jobs/search?location=...,3969936536,2024-07-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,Avolut Global Indonesia,Software Developer,"Surabaya, East Java, Indonesia",16 hours ago,43 applicants,Company Description\n\nWe suggest you enter de...,Entry level,Full-time,Engineering and Information Technology,Computer and Network Security,https://www.linkedin.com/jobs/search?location=...,3969562500,2024-07-11
446,Across Asia Assist Indonesia,Software Engineer,"Jakarta, Jakarta, Indonesia",1 month ago,Be among the first 25 applicants,Develop features and improvements to HealthMet...,Entry level,Full-time,Engineering and Information Technology,Hospitals and Health Care,https://www.linkedin.com/jobs/search?location=...,3927613743,2024-07-11
447,BTB School,Web Programmer,"Jakarta, Indonesia",1 week ago,Over 200 applicants,"Design, develop, and maintain end-to-end softw...",Mid-Senior level,Full-time,Information Technology,Education,https://www.linkedin.com/jobs/search?location=...,3963392252,2024-07-11
448,McEasy,Principal Engineer,"Jakarta, Indonesia",2 days ago,Be among the first 25 applicants,"McEasy, a transportation management solution t...",Mid-Senior level,Full-time,"Engineering, Information Technology, and Suppl...","Technology, Information and Internet, Transpor...",https://www.linkedin.com/jobs/search?location=...,3967478624,2024-07-11
449,G2i Inc.,Software Engineer for AI Training Data (Python),"Bogor, West Java, Indonesia",4 weeks ago,Be among the first 25 applicants,Accepted Locations\n\nWe are accepting applica...,Entry level,Contract,Engineering and Information Technology,Software Development,https://www.linkedin.com/jobs/search?location=...,3948877283,2024-07-11

In [9]:
job_db['data_scraped_at'] = today_string

In [10]:
job_db_final = job_db.drop_duplicates().reset_index(drop=True)

In [11]:
def convert_to_days(time_str):
    number, unit = time_str.split()[0], time_str.split()[1]
    number = int(number)
    
    if 'day' in unit:
        return number
    elif 'week' in unit:
        return number * 7
    elif 'month' in unit:
        return number * 30  # Assuming an average of 30 days per month
    elif 'hour' in unit:
        return number / 24  # Convert hours to days
    else:
        return np.nan  # Handle unexpected cases

# Apply the function to create a new column 'days_ago'
job_db_final['posted_since_days_ago'] = job_db_final['post_duration'].apply(convert_to_days)

In [12]:
job_data_analyst = job_db_final[
    (job_db_final['role'].str.upper().str.contains('ANAL', na=False))
    | (job_db_final['role'].str.upper().str.contains('BI DEV', na=False))
    | (job_db_final['role'].str.upper().str.contains('INTELLIGENCE', na=False))
    | (job_db_final['role'].str.upper().str.contains('INSIGHT', na=False))
    | (job_db_final['role'].str.upper().str.contains('POWER BI', na=False))
].reset_index(drop=True)

job_data_analyst_final = job_data_analyst[
    (~job_data_analyst['role'].str.upper().str.contains('SOFTWARE', na=False)) 
    & (~job_data_analyst['role'].str.upper().str.contains('SECURITY', na=False))
    & (~job_data_analyst['role'].str.upper().str.contains('IT BUSINESS ANALYST', na=False))
    & (~job_data_analyst['role'].str.upper().str.contains('SYSTEM ANALYST', na=False))
].reset_index(drop=True)

In [17]:
job_data_analyst_final.head(2)

,company,role,location,post_duration,total_application,job_description,level,employment_status,job_function,industries,url,job_id,data_scraped_at,posted_since_days_ago
0,Shopee,"Data Analyst, Business Intelligence","Jakarta, Indonesia",2 weeks ago,Be among the first 25 applicants,Job Description\n\nAssist the various business...,Mid-Senior level,Full-time,"Strategy/Planning, Analyst, and Consulting","Internet Marketplace Platforms and Technology,...",https://www.linkedin.com/jobs/search?location=...,3611204797,2024-07-11,14.0
1,PT Lion Super Indo,Sustainability Data Analyst,"Jakarta, Indonesia",1 week ago,Over 200 applicants,Job Description\nAs a member of the Strategy a...,Entry level,Full-time,"General Business, Analyst, and Business Develo...",Retail,https://www.linkedin.com/jobs/search?location=...,3963352502,2024-07-11,7.0

In [18]:
# Function to replace specific word
def replace_word(text, target_word, replacement_word):
    try:
        # Compile the pattern with case insensitivity
        pattern = re.compile(re.escape(target_word), re.IGNORECASE)
        # Replace the target word with the replacement word
        return pattern.sub(replacement_word, text)
    except:
        return 'Undefined'

In [19]:
list_tools = [
    'CANVA', 'CAMTASIA', 'SAP', 'EXCEL', 'VISIO', 'POWERBI', 'POWER BI', 'TABLEAU', 'LOOKER STUDIO', 'LOOKER', 
    'POWER POINT', 'VISUAL BASIC', 'MACRO', 'QLIKSENSE', 'PYTHON', 'BIGQUERY', 'BIG QUERY', 'AWS', 'AWS ATHENA', 
    'A/B TEST', ' R ', 'PHYTON', 'DBT', 'GITLAB', 'GITHUB', 'GOOGLE CLOUD', 'NOSQL', 'MYSQL', 'POSTGRESQL', 'SQL', 
    'G-SUITE', 'GOOGLE ADS', 'META ADS', 'SQL SERVER', '.NET', 'PPT', 'POWERPOINT', 'GOOGLE DATA STUDIO', 'AIRFLOW', 
    'HIVE', 'JUPYTER', 'HTML', 'CSS', 'JAVASCRIPT', 'JAVA', 'STATA', 'REDSHIFT', 'ORACLE', 'HADOOP', 'AZURE', 'SCALA', 
    'C++', 'CI/CD', 'SELENIUM', 'KATALON', 'SPSS', 'GCP', 'APACHE SPARK', 'SPARK', 'VBA', 'PENTAHO', 'MONGODB', 'DAX', 
    'HDFS', 'SSIS', 'SSAS', 'SSRS', 'TENSORFLOW', 'PYTORCH'
]

list_hardskills = [
    'BIG DATA', 'DATA CLEANSING', 'DATA WAREHOUSE', 'DATA VISUALIZATION', 'BI TOOLS', 'DATA AUTOMATION', 'DATA MINING', 
    'DATA MANAGEMENT', 'LMS', 'TECHNICAL GUIDANCE', 'BRD', 'FSD', 'TSD', 'UML', 'MS. OFFICE', 'CLUSTERING', 'REGRESSION', 
    'CLASSIFICATION', 'DATA MODEL', 'DATA MANIPULATION', 'DASHBOARD', 'ETL', 'DESCRIPTIVE', 'PREDICTIVE', 'DATA PROFILING', 
    'DATA PIPELINE', 'HLOOKUP', 'VLOOKUP', 'PIVOT', 'DATAMART', 'DATA MART', 'DATA EXTRACTION', 'MACHINE LEARNING', 
    'INFERENTIAL STATISTIC', 'COMPUTER VISION', 'NATURAL LANGUAGE PROCESSING', 'NLP', 'FINANCIAL REPORT', 'AB TEST', ' LLM ', 
    'SCRAPING', 'WEB CRAWL', 'OLAP', 'DATA BESAR', 'DATA COLLECTION', 'FRAUD'
]

list_language = [
    'ENGLISH', 'MANDARIN', 'BAHASA'
]

list_exp_en = ['YEARS IN', 'EXPERIENCE', 'EXP']
list_exp_id = ['PENGALAMAN']
year_keyword_en = ['YEAR']
year_keyword_id = ['TAHUN']
list_exp_exclusion = ['GRADUATE', 'STUDENT', 'LESS THAN 1 YEAR']

# Compile the regex pattern
pattern_tools = re.compile('|'.join([re.escape(word) for word in list_tools]), re.IGNORECASE)
pattern_hardskills = re.compile('|'.join([re.escape(word) for word in list_hardskills]), re.IGNORECASE)
pattern_exp_en = re.compile('|'.join(list_exp_en), re.IGNORECASE)
pattern_exp_id = re.compile('|'.join(list_exp_id), re.IGNORECASE)
year_pattern_en = re.compile('|'.join(year_keyword_en), re.IGNORECASE)
year_pattern_id = re.compile('|'.join(year_keyword_id), re.IGNORECASE)
pattern_exp_exclusion = re.compile('|'.join(list_exp_exclusion), re.IGNORECASE)
pattern_lang = re.compile('|'.join(list_language), re.IGNORECASE)

In [20]:
def find_matches(text, pattern, watchlist):
    try:
        matches = pattern.findall(text)
        # Map matches to their original case in the watchlist
        original_matches = {match.upper(): match for match in watchlist}
        matched_words = [original_matches[match.upper()] for match in matches]

        # Remove duplicates and return a comma-separated string
        return ', '.join(sorted(set(matched_words), key=lambda x: text.upper().index(x.upper())))
    except:
        return 'Undefined'

def contains_keywords(text):
    try:
        # Convert text to uppercase for case-insensitive comparison
        text_upper = text.upper()

        # Check for exclusion keywords first
        if pattern_exp_exclusion.search(text_upper):
            return False

        # Check for English keyword combinations
        primary_match_en = pattern_exp_en.search(text_upper)
        year_match_en = year_pattern_en.search(text_upper)

        # Check for Indonesian keyword combinations
        primary_match_id = pattern_exp_id.search(text_upper)
        year_match_id = year_pattern_id.search(text_upper)

        # Return True if the correct combinations are found
        if primary_match_en and year_match_en:
            return True
        if primary_match_id and year_match_id:
            return True

        # Return False if only partial matches are found
        if primary_match_en and not year_match_en:
            return False
        if primary_match_id and not year_match_id:
            return False

        # Default to False if no conditions are met
        return False
    except:
        return False

In [21]:
# TOOLS DETECTION
job_data_analyst_final['tools_mentioned'] = job_data_analyst_final['job_description'].apply(lambda x: find_matches(x, pattern_tools, list_tools))
job_data_analyst_final['tools_mentioned'] = job_data_analyst_final['tools_mentioned'].apply(lambda x: replace_word(x, 'PHYTON', 'PYTHON'))
job_data_analyst_final['tools_mentioned'] = job_data_analyst_final['tools_mentioned'].apply(lambda x: replace_word(x, 'POWERBI', 'POWER BI'))
job_data_analyst_final['tools_mentioned'] = job_data_analyst_final['tools_mentioned'].apply(lambda x: replace_word(x, 'BIG QUERY', 'BIGQUERY'))

# HARD SKILL DETECTION
job_data_analyst_final['hardskills_mentioned'] = job_data_analyst_final['job_description'].apply(lambda x: find_matches(x, pattern_hardskills, list_hardskills))

# EXPERIENCE REQ DETECTION
job_data_analyst_final['need_experience'] = job_data_analyst_final['job_description'].apply(contains_keywords)

# LANGUAGE DETECTION
job_data_analyst_final['language_mentioned'] = job_data_analyst_final['job_description'].apply(lambda x: find_matches(x, pattern_lang, list_language))

In [22]:
job_data_analyst_final['platform'] = 'Linkedin'

In [23]:
job_data_analyst_final['salary'] = np.nan
job_data_analyst_final['company_total_employees'] = np.nan
job_data_analyst_final['company_rating'] = np.nan
job_data_analyst_final['company_total_review'] = np.nan

In [24]:
job_data_analyst_final2 = job_data_analyst_final[['company', 'role', 'location', 'post_duration', 'total_application',
       'job_description', 'level', 'employment_status', 'job_function',
       'industries', 'url', 'job_id', 'salary', 'company_total_employees',
       'company_rating', 'company_total_review', 'posted_since_days_ago',
       'tools_mentioned', 'hardskills_mentioned', 'need_experience',
       'language_mentioned', 'platform', 'data_scraped_at']]

In [25]:
job_data_analyst_final2

,company,role,location,post_duration,total_application,job_description,level,employment_status,job_function,industries,...,company_total_employees,company_rating,company_total_review,posted_since_days_ago,tools_mentioned,hardskills_mentioned,need_experience,language_mentioned,platform,data_scraped_at
0,Shopee,"Data Analyst, Business Intelligence","Jakarta, Indonesia",2 weeks ago,Be among the first 25 applicants,Job Description\n\nAssist the various business...,Mid-Senior level,Full-time,"Strategy/Planning, Analyst, and Consulting","Internet Marketplace Platforms and Technology,...",...,NaN,NaN,NaN,14.000000,"SSIS, SQL, TABLEAU, POWER BI, LOOKER, PYTHON, ...","DASHBOARD, BI TOOLS",False,"ENGLISH, BAHASA",Linkedin,2024-07-11
1,PT Lion Super Indo,Sustainability Data Analyst,"Jakarta, Indonesia",1 week ago,Over 200 applicants,Job Description\nAs a member of the Strategy a...,Entry level,Full-time,"General Business, Analyst, and Business Develo...",Retail,...,NaN,NaN,NaN,7.000000,"VISIO, EXCEL",,True,ENGLISH,Linkedin,2024-07-11
2,Traveloka,Data Analyst,Jakarta Metropolitan Area,2 weeks ago,Be among the first 25 applicants,It's fun to work in a company where people tru...,Entry level,Full-time,Information Technology,Software Development,...,NaN,NaN,NaN,14.000000,"BIGQUERY, DBT, PYTHON, GITHUB, LOOKER STUDIO, ...","DESCRIPTIVE, DATA PIPELINE, ETL, DASHBOARD",True,,Linkedin,2024-07-11
3,Traveloka,Data Analyst,Jakarta Metropolitan Area,1 week ago,Be among the first 25 applicants,It's fun to work in a company where people tru...,Entry level,Full-time,Information Technology,Software Development,...,NaN,NaN,NaN,7.000000,"SQL, PYTHON, TABLEAU, LOOKER STUDIO, A/B TEST,...","DATA PIPELINE, DASHBOARD, DESCRIPTIVE",True,,Linkedin,2024-07-11
4,BYD Indonesia,Data Analyst,"Jakarta, Indonesia",9 hours ago,Over 200 applicants,Position Overview:\nWe are looking for a skill...,Mid-Senior level,Full-time,"Analyst, Sales, and Marketing",Motor Vehicle Manufacturing,...,NaN,NaN,NaN,0.375000,"SQL, PYTHON, R , TABLEAU, POWER BI, EXCEL","DASHBOARD, DATA MANIPULATION, DATA VISUALIZATION",True,,Linkedin,2024-07-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,PT Mandala Karya Prima,Business Analyst,"Tambora, Jakarta, Indonesia",1 month ago,Be among the first 25 applicants,Company Description: Mandiri Contractor (PT Ma...,Mid-Senior level,Full-time,"Research, Analyst, and Information Technology",Mining,...,NaN,NaN,NaN,30.000000,,,False,,Linkedin,2024-07-11
171,Boston Consulting Group (BCG),"Business Analyst, Indonesia","Jakarta, Jakarta, Indonesia",1 week ago,Be among the first 25 applicants,Who We Are\n\nBoston Consulting Group partners...,Mid-Senior level,Full-time,"Research, Analyst, and Information Technology",Business Consulting and Services,...,NaN,NaN,NaN,7.000000,"SPARK, VISIO, EXCEL, AWS",,False,,Linkedin,2024-07-11
172,PT Paramitra Alfa Sekuritas,Research Analyst,"Jakarta, Jakarta, Indonesia",2 weeks ago,Be among the first 25 applicants,Responsibilities\n\nAnalyze industries and com...,Mid-Senior level,Full-time,"Research, Analyst, and Information Technology",Financial Services,...,NaN,NaN,NaN,14.000000,"EXCEL, STATA",DASHBOARD,True,ENGLISH,Linkedin,2024-07-11
173,Fincons Group,Senior Billing Analyst,"Kecamatan Omesuri, East Nusa Tenggara, Indonesia",1 year ago,Be among the first 25 applicants,Fincons Group Ã¨ unâ€™innovativa IT business cons...,Mid-Senior level,Full-time,Accounting/Auditing and Finance,IT Services and IT Consulting,...,NaN,NaN,NaN,NaN,SQL,UML,False,,Linkedin,2024-07-11
174,Marlee (Fingerprint For Success),Expression of Interest - Business Analyst,Indonesia,17 hours ago,Be among the first 25 applicants,We are inviting professionals in high-growth i...,Mid-Senior level,Full-time,"Research, Analyst, and Information Technology",Software Development,...,NaN,NaN,NaN,0.708333,,PREDICTIVE,True,,Linkedin,2024-07-11

In [26]:
job_db.to_excel(f'{today_string}_linkedin.xlsx', index=False)
job_data_analyst_final2.to_excel(f'{today_string}_linkedin_data_analyst.xlsx', index=False)

In [27]:
driver.quit()